*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --color-dark: navy;
    --color-medium: blue;
    --color-light: lightblue;
    --color-white: whitesmoke;
}

body {
    color: var(--color-medium);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
    color: navy;
    font-size: 1.3em;
}

.weatherContainer {
    display: grid;
    grid: 100px / auto;
    width: 100vw;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.publicAttractionsContainer {
    display: grid;
    grid: 100px / auto;
    width: 100vw;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.localFoodContainer {
    display: grid;
    grid: 100px / auto;
    width: 100vw;
    background-color: var(--color-dark);
    color: var(--color-light);
}

.localActivitiesContainer {
    display: grid;
    grid: 100px / auto;
    width: 100vw;
    background-color: var(--color-dark);
    color: var(--color-light);
}